<div id="gasto_rep">
<table align="left">
    <thead>
        <tr>
            <th>Gasto</th>
            <th>Costo</th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.NombreGasto }}</td>
            <td>{{ gasto.CostoGasto }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>