{% extends 'CostoSystemBundle::layout.html.twig' %}

{% block content %}
    <h1>Actualizar cuenta</h1>

<form action="{{ path('_update') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}


