{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
			$(function(){
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#datepicker').datepicker({
                                    minDate: -30, maxDate: 0
				});
                                // Datepicker
				$('#datepicker2').datepicker({
                                    minDate: -30, maxDate: 0
				});
			});
		</script>
{% endblock %}
{% block title %}Generar Reporte de Costos por Periódo{% endblock %}
{% block content %}
    <h1><center>{{ block('title') }}</center></h1>
<form align="center" action="{{ path('_report', { 'begin': null, 'end': null }) }}" method="post">
            <h1><center>Generar Reporte</center></h1>
        <p>Seleccione Periodo:
        <p align="center">
        Desde  <input style="width: 83px;" id="datepicker" type="text"> hasta <input style="width: 83px;" id="datepicker2" type="text"></p>
        </p>
        <p align="right">
        <button class="symfony-button-green" type="submit">Generar</button>
        </p>
        </form>
{% endblock %}

