{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Ventas {% endblock %}
{% block content %}
<h1>Creación nueva Venta</h1>

<form action="{{ path('create_venta') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="symfony-button-green" type="submit">Crear Venta</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="symfony-button-green" href="{{ path('index_venta') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}